body {
    background: #3d3d3d;
    font: 12px 'Lucida Grande', Arial, sans-serif;
    color: aliceblue;
}

.logo{
    text-align: center;
}
.img-logo{
    height: 90px;
    width: 126px;
}
.title{
    text-align: center;
}
.credits{
    color: #565656;
    text-align: center;
}
.container{
    margin: 0 auto 0 auto;
    padding: 0 0.938em 0 0.938em;
    max-width: 1140px;
}

.title-input{
    font-weight: bold;
    margin-right: 10px;
    font-size: 14px;

}

.sub-title{
    font-size: 14px;
    line-height: 24px;
}

.description-title{
    font-size: 14px;

}
.cardForm{
    width: 100%;
}

.cardNum{
    width: 100%;
    display: block;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 10px;


}

.card-info{
    font-size: 13px;
    color: #a1a1a1;
    margin-bottom: 30px;

}

.cardNum-result{
    width: 100%;
    display: block;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 25px;
    height: 80px;
}

.cardReset{
    height: 40px;
    width: 120px;
    border-radius: 2px; 
    margin-bottom: 30px;
}

.option-required{
    color: red;
}

.block-content1{
    display: flex;
    width: 50%;
    float: left;   
}

/* .block-content1{
    float: left;
    max-width: 33%;  
    
} */

.block-content2{
    display: inherit;
    margin: 0 33% 0 11%;  
}

.block-content3{
    float: right;
    width: 33%;  
    margin-top: -252px;
}

.clear{
    clear: both;
}

/* .ad-block-300x250{
    background-color:#ff2;
    border: 1px solid black;
    float: left;
} */
.ad-block-300x250{
    background-color:#ff2;
    border: 1px solid black;
    height: 250px;
    max-height: 250px;
    width: 300px;
    max-width: 300px;
}

.ad-vertical-265x600{
    background-color:#ff2;
    border: 1px solid black;
    height: 600px;
    width: 265px;
}

@media (max-width: 1023px) {
    .block-content1 {
        display: block;
        width: 100%;
    }
}